.content{
  background-color: white;
}

.checkout-card {
  max-width: 900px;
}

.checkout-form{
  margin-top: 20px;
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.full-width {
  width: 100%;
}

.checkout-card-footer{
  margin: auto;
  padding-top: 5px;
}
