<mat-card class="product-card" *ngIf="product">
  <div>
    <img [src]="product.imageURL" alt="Image" />
    <div>
      <div>
        <p style="font-weight: bold;">{{product.name}}</p>
        <p style="font-size: small;">{{product.description}}</p>
      </div>
      <mat-divider></mat-divider>
      <div class="card-footer">
        <div><span>{{ product.price | currency }}</span></div>
        <div>
          <button mat-mini-fab color="primary" class="mt-1">
            <mat-icon>add_shopping_cart</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </div>
</mat-card>
