<mat-card class="product-card" *ngIf="product">
  <div>
    <div>
      <img class="img-thumbnail" [src]="product.imageURL" alt="Image" />
      <div>
        <p style="font-weight: bold;">{{product.name}}</p>
        <p class="text-truncate" style="font-size: small;">{{product.description}}</p>
      </div>
      <mat-divider></mat-divider>
      <div class="card-footer">
        <div><span>{{ product.price | currency }}</span></div>
        <div>
          <button mat-icon-button color="primary" (click)="onAddItem(product.id)">
            <mat-icon>add_shopping_cart</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </div>
</mat-card>
